<launch>

	<arg name="video_index" default="13" />

	<node pkg="Visualize_Primitives" type="Annotated_Object_Coords.py" name="Publish_Object_Coords" args="$(arg video_index)" output="screen" cwd="node"/>

	<node pkg="Visualize_Primitives" type="Publish_TF_No_Offset.py" name="Publish_TF_No_Offset" args="$(arg video_index)" output="screen"/>

	<include file="$(find Visualize_Primitives)/launch/register_and_pointcloud.launch"/>

	<node pkg="Visualize_Primitives" type="Publish_Video_Skel_Smooth.py" name="Publish_Video_Skel_Smooth" args="$(arg video_index)" output="screen"/>

	<!-- <node pkg="Visualize_Primitives" type="Visualize_Trajectories.py" name="Visualize_Trajectories" args="$(arg video_index)" output="screen"/> -->

	<node pkg="Visualize_Primitives" type="Visualize_Smooth_Traj.py" name="Viz_Traj" args="$(arg video_index)" output="screen"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find Visualize_Primitives)/config/Visualize_Smooth.rviz"/>
</launch>
